// LOGIN PAGE
@font-face {
  font-family: 'VIE-KievitOT';
  src: url('../font/VIE-MarkOT-Medium.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$color-blue : #000565;
$color-white : #fff;
$color-yellow : #FFDE17;
$color-orange : #F26522;
$color-light-orange: #F7941E;
$color-light-blue:#27A9E1;

$font-cabin: 'Cabin Condensed',sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-VIE: 'VIE-KievitOT', sans-serif;

$magrin-0: 0;
$padding-0: 0;

%transition{
     -webkit-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
}
@mixin media($min-width, $max-width){
  @media screen and (min-width:$min-width) and (max-width: $max-width){
    @content;
  }
}
@mixin transition($trans...) {
  transition:$trans;
  -webkit-transition:$trans;
  -moz-transition:$trans;
}
p{margin:0; padding:0;}

// SUB MENU
.navbar-nav{
    li{
        &.parent{
            color: #F26522;
            margin: 0;
            padding: 0 8px;
            height: 35px;
            line-height: 35px;
            border-radius: 35px;
            font-size: 12px;
            font-family: "Montserrat",sans-serif;
            cursor: pointer;
            &:hover{
                color:white;
                background: $color-orange;
            }
        }
        .wrap-submenu{
            position: absolute;
            padding-top:5px;
            right:0;
            top:100%;
            display:none;
        }
        ul.sub-nav{
            width:150px;
            padding:0;
            list-style:none;
            text-align:right;
            background:$color-orange;
            padding:6px;
            border-radius:7px;
            li{
                text-transform: capitalize;
                margin-bottom:5px;
                a{
                    font-size:1.3rem;
                    display: block;
                    color:white;
                }
                &:hover{
                    a{
                        text-decoration: none;
                        // background:none;
                        // color:$color-orange;
                    }
                }
            }
        }
        &:hover{
            ul > li a {
                background:none;
            }
        }
    }
}

// LOGIN PAGE
.login-section{
    padding:12rem 0;
    background:white;
    .wrap-login{
        text-align:center;
        h2{
            margin: 0;
            margin-bottom:1.5rem;
            font-size:2.2rem;
            font-family: $font-montserrat;
            color: $color-blue;;
            text-align: center;
        }
        .wrap-form{
            max-width:500px;
            margin:0 auto;
            .btn-submit{
                width:100%;
                height:auto;
            }
        }
    }
}

// EVENT SCHEDULE
.event-section{
    background:white;
    padding: 5rem 0 7rem;
    h2{
        margin: 0;
        margin-bottom:1.5rem;
        font-size:2.2rem;
        font-family: $font-montserrat;
        color: $color-blue;;
        text-align: center;
        text-transform: uppercase;
    }
}
table.table-event{
    border:1px solid $color-blue;
    tr > th, tr > td{
        vertical-align: middle;
    }
    thead{
        th{
            text-transform: uppercase;
            font-size:1.6rem;
            background:$color-blue;
            color:white;
            border:1px solid white;
        }
    }
    tbody{
        tr:nth-of-type(odd){
            background:#fff122;
        }
        tr:nth-of-type(even){
            background:#efa854;
        }
        tr {
            td{
                p{
                    color:$color-blue;
                    font-size:1.4rem;
                    margin-bottom:5px;
                }
            }
            & td:first-child{
                p{
                    font-weight: 600;
                }
            }
        }
    }
}
