p{margin:0; padding:0;}
table.table-event{
    thead{
        th{
            text-transform: uppercase;
            font-size:1.6rem;
            background:#F89E22;
            color:white;
            border:1px solid white;
        }
    }
    tbody{
        tr:
    }
}
